
.body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
  padding-right: 0;
  opacity: 0;
  transition: all .5s ease-in;
}

.body.__show {
  transition: all .5s ease-in;
  opacity: 1;
}

ul {
  padding-bottom: 14px;
}

/* List */
.list {
  float: left;
  width: 260px;
}

/* Screenshots */
.screenshot {
  max-width: 290px;
}
.screenshotContainer {
  float: left;
}
.screenshotContainer.__right {
  margin-left: 20px;
}

